<%= layout("/layouts/boilerplate") %>

   <body>

      <div class="row">
         <div class="col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2  offset-lg-3">
            <div class="listing-card card-show">
               <h2>
                  <%= listing.title %>
               </h2>
               <img src="<%= listing.image.url %>" class="card-img-top listing-image" alt="..." style="height: 20rem;">

               <div class="card-body mt-1">
                  <p>Owned by <i> <%= listing.owner.username %> </i></p>
                  <p>
                     <%= listing.description %>
                  </p>
                  <p>&#8377;<%= listing.price.toLocaleString('en-in') %>
                  </p>
                  <p>
                     <%= listing.location %>
                  </p>
                  <p>
                     <%= listing.country %>
                  </p>
               </div>
            </div>
         </div>
      </div>






     
     <% if(Curruser && listing.owner._id.equals(Curruser._id)) {%>
     
      <div class="btns col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2  offset-lg-3">

         <div><a href="/listings/<%= listing._id %>/edit" class="btn btn-dark my-btn  mr-btne">Edit</a></div>

         <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark mr-btnd">Delete </button>
         </form>

      </div>

      <% } %>
 


      <!-- review form -->
       
      <% if(Curruser){ %>
      <div class="review col-sm-12 col-md-8 col-lg-6 offset-sm-0 offset-md-2  offset-lg-3 mb-3">
         <hr>
         <h4>Leave a review</h4>
         <form method="POST" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">


    
               
               
            

            <div class="rating mb-2 mt-2">

            <label for="rating" class="form-label mb-0 ">Rating</label>
            <fieldset class="starability-slot">
               <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
               <input type="radio" id="first-rate1" name="review[rating]" value="1" />
               <label for="first-rate1" title="Terrible">1 star</label>
               <input type="radio" id="first-rate2" name="review[rating]" value="2" />
               <label for="first-rate2" title="Not good">2 stars</label>
               <input type="radio" id="first-rate3" name="review[rating]" value="3" />
               <label for="first-rate3" title="Average">3 stars</label>
               <input type="radio" id="first-rate4" name="review[rating]" value="4" />
               <label for="first-rate4" title="Very good">4 stars</label>
               <input type="radio" id="first-rate5" name="review[rating]" value="5" />
               <label for="first-rate5" title="Amazing">5 stars</label>
             </fieldset>
            </div>


            <div class="mb-2 mt-2">
               <label for="comment" class="form-label mb-0">Comment</label>
               <textarea name="review[comment]" id="comment" class="form-control" cols="30" rows="5"
                  required></textarea>
               <div class="invalid-feedback">Please submit some comment for review</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
         </form>
         <hr>
         <p><b>All Reviews</b></p>
         <div class="row">
            <% for(review of listing.reviews) { %>
               <div class="card col-5 ms-2 mb-3" style="width: 17rem;">
                  <div class="card-body">
                     <h5 class="card-title"><%= review.author.username %></h5>
                     <p class="starability-result" data-rating="<%= review.rating %>"></p>
                     <p class="class-text"><%= review.comment %></p>
                     <p class="class-text"><%= review.rating %> Stars</p>
                  
                     
              

                  </div>

                  <% if(Curruser && review.author._id.equals(Curruser._id)) { %>
                  <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                     <button class="btn btn-dark">Delete</button>
                  </form>
                  <% } %>
                 

               </div>
               <%} %>

            </div>
      </div>
    <% } %>
      <br>
   </body>